*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

#home{
  height: 100%;
}

.welcome-app{
 height: 100%;  
}

/*header*/

header{
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  /*background-image: url("../images/icon-site.jpg");*/
  opacity: 0.9;
  width: 100%;
}

.main_header{
  display: flex;
}

.main_header a{
  text-decoration: none;

}
.main_header li{
  list-style-type: none;
}


#header_header{
  display: flex;
  flex-direction: row;
}
.logo-of-site{
  display: flex;
  justify-content: center;
  align-self: center;
  flex-grow: 2;
  flex-shrink: 2;
}

.logo-of-site .icon-site-img{
  width: 200px;
  max-width:100%;
  height: auto;
}

.logo-of-site a{
  display: flex;
  justify-content: center;
  align-self: center;
  color: #4B414B;
  font-family: Times, "Times New Roman", serif;
}

.logo-of-site a h2{
  color: #37b081;
  font-family: Times, "Times New Roman", serif;
}


.menu{
  display: flex;
  flex-direction: row;
  flex-grow: 6;
  flex-shrink: 1;
  justify-content: center;
  align-self:center;
  background-color: #37b081;
  width: 100%;
}

.menu li{
  display: inline-block;
  list-style-type: none;
  font-size: 18px;
  padding:13px 25px;
}


.menu li:hover{
  color:#4287f5;
  background-color: #248f65;
}
.menu li a{
  text-decoration: none;
  color:white;
  font-size: 25px;
}

.all_cats_with_img{
  display: flex;
  flex-direction: column;
  padding:16px;
}



.search-login{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: center;
    position: relative;
}


.seach-login .show_user_settings{
   display: flex;
  justify-content: center;
  align-items: center;
}

.search-login button{
  border:none;
  outline: none;
  background-color: #424242;
  color:white;
  padding:10px 15px;  
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;
}

.search-login button:after{
    content: "";
    display: inline-block;
    margin:2px 0.5em;
    border: 7px solid transparent;
    border-top:8px solid white;
    border-bottom:0 none;
}

.user-settings{
  position: absolute;
  top:110%;
  background-color: #6f7d73;
  animation:show_hide 0.4s ease-out;
  animation-fill-mode:both;
  border-radius: 6px;
}


.search-login .login-register a{
  display: inline-block;  
  font-size: 25px;
  color:black;
  padding:10px;
}

.search-login .login-register a:hover{
  color:#37b081;
}

@keyframes show_hide{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.user-settings li{
  list-style-type: none;
}

.user-settings li a{
  padding:10px 28px;
  width: 100%;
}


.user-settings li a:hover{
  background-color:#c1dec9;
  color:#6c736e;
}

  .modal-hidden{
    display: none;
  }



.search-login a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color:white;
    padding:0 10px;
  }


/*end of header*/

main{
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  background-color: #F3F4F5;
}

article{
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  padding:15px;
  background-color: #F7F7F7;
  align-items: flex-end;

}



/*aside*/

aside{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  padding: 30px;
  color:grey;
  background-color: #F7F7F7;
}

.best-articles{
  margin:14px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
   border:1px solid #4BB88E;
   border-radius: 10px;
}

.best-articles h1{
  color:#4BB88E;
  padding: 10px;
}

.best-articles input{
  border-radius: 2px;
  display: block;
  padding:8px;
  line-height: 20px;
  outline: none;
  border:0.5px solid #E5E5E5;
  margin:0px 0px 30px 0px;
  width: 80%;
  font-size: 16px;
  box-shadow: 0px 2px 23px -5px rgb(225,225,225);
}

.best-articles button{
  width: 80%;
  padding:6px 10px;
  font-size: 20px;
  background-color: #424242;
  color:white;
  margin-top: 10px;
  border:none;
  cursor: pointer;
}

.best-articles-image-div{
  display: flex;
  justify-content: center;
  width: 100%;
}


/*end aside*/


/*footer all elements*/
footer {
  flex: 0 0 auto;
  display: flex;
  padding:20px 0;
  flex-direction: column;
  background-color: #424242;
}

.footer-social-icons{
  align-self: center;
  padding:10px;
}

.footer-rules{
  align-self: center;
}

.footer-rules li{
  list-style-type: none;
  display: inline-block;
  padding:5px 10px;
  font-size: 18px;
}

.footer-rules li a{
  text-decoration: none;
  color:white;
}
.footer-rules li a:hover{
   color:#A1A192;
}

.contacts-info{
  align-self: center;
  color:#92A1A1;
  margin-top:30px;
}

.social_icons{
  color:white;
  background-color: #525252;
  margin-left:4px;
  font-size: 30px;
  padding:5px 10px;
  border-radius: 4px;

}

.social_icons:hover{
  cursor: pointer;
  color:white;
  background: orange;
}




/*admin articles*/

#admin_panel{
  padding:30px 50px;
}
.admin_deleted_art{
  position: fixed;
  font-size: 20px;
  top:3%;
  right:2%;
  background-color: #eb4444;
  color:white;
  transition: opacity 1.5s;
  z-index: 2;
  padding:17px;
  border-radius: 10px;
}

.admin_deleted_art li{
  list-style-type: none;
}



.admin_create_article_success{
  position: fixed;
  font-size: 20px;
  top:3%;
  right:2%;
  background-color: green;
  color:white;
  transition: opacity 1.5s;
  z-index: 2;
  padding:17px;
  border-radius: 10px;
}
.admin_create_article_success li{
  list-style-type: none;
}

.admin_create_art_form{
  position:fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index:2;
  transition: opacity 1s;
  overflow-y: scroll;
}
.admin_cr_form_wrap{
  margin:5% auto;
  width: 70%;
  position: relative;
  background-color:#e3e3e3;
  border-radius:12px;
  /*padding:10px;*/
  display: flex;
  align-items: center;
  justify-content: center;
   overflow-y: scroll;
}
.admin_create_form{
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin:10px;
}

.texteditor_place{
  width: 100%;
  margin:20px 0px;
}

.show_hide_art_crt{
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background-color: #2f615e;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  margin:5px 0;
}
.admin_create_form input{
  line-height: 27px;
  width: 100%;
  padding:5px 7px;
  margin:5px;
  outline: none;
  border: none;
  box-shadow: 0px 2px 23px -5px grey;
  /*border:0.3px solid grey;*/
   background-color: #adacac;
   color:#27272C;
}

.admin_create_form label{
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 10px;
  width: 150px;
  left: 7.35em;
  top: 0.5em;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

.admin_create_form select{
  background-color: transparent;
  padding:10px;
  margin: 10px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

#admin_create_button{
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color:#768d87;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  width: 100%;
}
#admin_create_button:hover {
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color:#6c7c7c;
}
#admin_create_button:active {
  position:relative;
  top:1px;
}


#form_admin_image{
  display: none;
}

.close{
  color:black;
  position: absolute;
  right: 10px;top:-10px;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}

.admin_after_upload_img{
  /*height: 50px;
  width: 100%;
  max-width: 100%;*/
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  right: 0;
  bottom:0;
  width: 40%;
  height: 40%;
  background-color:#7d8752; 
  padding:10px;
}

.admin_after_upload_img img{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius:20px;
}

.admin_update_article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.is_changes_false{
  position: fixed;
  font-size: 20px;
  top:3%;
  right:2%;
  background-color: #eb4444;
  color:white;
  transition: opacity 1.5s;
  z-index: 2;
  padding:17px;
  border-radius: 10px;
}


#table_articles {
  border-collapse: collapse;
  width: 100%;
}


#table_articles tr:hover {background-color: #ddd;}

#table_articles th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #53785D;
  color: white;
}

#update_article{
  display: inline-block;
  padding:6px;
  color:white;
  border:1px solid white;
  text-decoration: none;
  border-radius: 6px;
}
#update_article:hover{
  background-color: #fcba03;
  color:#756d56;
}

#delete_article{
	display: inline-block;
	padding:6px;
	color:white;
	border:1px solid white;
	text-decoration: none;
	border-radius: 6px;
}
#delete_article:hover{
	background-color: #f22000;
	color:white;
}




.admin_to_mainpage{
  display: flex;
  flex-grow: 1;
}

.admin_to_mainpage a{
  color:white;
}

.admin_can_do{
   display: flex;
   flex-grow: 1;
}

.admin_can_do a{
  display: inline-block;
  text-decoration: none;
  color:white;
  padding:5px 10px;
  border:1px solid white;
  border-radius: 10px;
  margin:4px;
}

.admin_can_do a:hover{
  background-color: green;
}

.admin_logout{
  display: flex;
  flex-grow: 1;
}

.admin_logout a i{
  font-size: 40px;
  color:white;
}
.admin_logout a i:hover{
  color:#eb4034;
}


/*auth */


.successes{
  position: fixed;
  right: 0;
  top:0;
  background-color: green;
  color:white;
  margin:10px;
  border-radius: 5px;
}

.successes p{
  font-size: 16px;
  padding:10px;
}

.errors{
   position: fixed;
   right: 0;
   top:0;
   background-color: #d45731;
   margin:10px;
   color:white;
   border-radius: 5px;
}

.errors p{
   font-size: 16px;
   padding:10px;
}

.errors li{
  display: block;
  padding:10px;
  font-size: 16px;
}


/**/

.site-icon{
  width: 65px;
}

.my-img{
  width: 65px;
}



/**/

@media screen and (max-width: 800px){
  
  .logo-of-site{
    flex-grow: 1;
  }

  .menu{
  display: none;
  }
  .search-login{
    flex-grow: 1;
  }
}


/**/


/*login-register*/
.login{
  background-color: #F7F7F7;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-register-mainpage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*background-color: red;*/
}
.login-register-mainpage a{
  color:black;
  font-weight: bold;
  text-decoration: none;
  font-size: 3em;
}

.div-register-form{
  width: 35%;
}



.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:25px 45px;
  box-shadow: 0px 2px 23px -5px rgb(225,225,225);
  background-color: #FFFFFF;
}


.register-form h2{
  display: flex;
  justify-content: center;
  padding:25px;
  color:#53544a;
  margin-bottom:10%;
}

.register-form label{
  font-weight: bold;
  padding:5px;
  font-size: 17px;
}

.register-form input{
  border-radius: 2px;
  display: block;
  padding:8px;
  line-height: 20px;
  outline: none;
  border:0.5px solid #E5E5E5;
  margin:0px 0px 30px 0px;
  width: 100%;
  font-size: 16px;
  box-shadow: 0px 2px 23px -5px rgb(225,225,225);
}

.register-form p{
  font-size: 16px;
  color:#4d5c53;
}
.register-form p a{
  text-decoration: none;
  font-size: 20px;
  color:#4d5c53;
}
.register-form p a:hover{
  color:green;
}


.register-form-submit{
  background-color:#c5decf;
  color:#426651;
  font-weight: bold;
  cursor: pointer;
}



/*





/*for test*/


.test-div{
  color:white;
}
.test_block{
  color:white;
  opacity: 1;
  transition: opacity 2s;
}

.hide_block{
  opacity: 0;
}

.show_block{
  opacity: 1;
}

.test-to-do li{
  list-style-type: none;
  display: block;
  border:1px solid grey;
  font-size: 16px;
  padding:6px;
}


.test_success{
  position: fixed;
  top:20%;
  left:35%;
  background-color: green;
  color:black;
  transition: opacity 1.5s;
  z-index: 2;
}

.test_success p{
   padding:10px;
   font-size: 16px;
}


.test_block_li{
  list-style-type: none;
  font-size: 18px;
  color:black;
  display: block;
  background-color: #d1b66b;
  padding: 3px 6px;
  margin:5px;
  position: relative;
  transition: opacity 1s;

}
.test_block ul button {
  padding:3px 6px;
  border:none;
  outline: none;
  background-color: #fa3f32;
  cursor: pointer;
  /*margin-left: 15px;*/
  position: absolute;
  right: 0px;
}


/**/


/**/

.category_articles{
  display: flex;
  width: 85%;
  flex-direction: column;
  padding:20px;

}


.category_article{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin:20px;
  border:1px solid #4BB88E;
}

.category_article hr{
  border:1px solid #4BB88E;
  opacity: 0.4;
}

.cat_title{
  display: flex;
  padding:20px 49px;
  justify-content: flex-start;
}
.cat_title a {
  text-decoration: none;
  font-size: 20px;
  color:black;
  font-weight: bold;
}

.cat_body{
  display: flex;
  flex-direction: row;
  margin-top:20px;
  padding:10px 49px;
}

.cat_image{
  display: flex;
  flex-grow: 1;
}

.cat_text{
  display: flex;
  flex-grow: 2;
  color:black;
  padding:10px;
  font-size: 20px;
}
.cat_articles_images{
  padding:10px;
  width: 170px; height: 145px; object-fit: cover; 
}

.cat_footer{
  padding:20px;
  display: flex;
  position: relative;
} 

.article-create-date{
  color:grey;
}

.article-read{
  position: absolute;
  right: 10px;
  top:20px;
}

.article-read a{
  text-decoration: none;
  border: 1px solid grey;
  padding:7px;
  opacity: 0.6;
  cursor: pointer;
  color:black;
}
.article-read a:hover{
  border:1px solid #4BB88E;
  opacity: 1;
  background-color: #4BB88E;
  color:white;
}

/**/



/*one_article*/
.one_article{
  display: flex;
  flex-direction: column;
}

.nice_border{
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 19px -7px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 19px -7px rgba(0,0,0,1);
  box-shadow: 2px 2px 19px -7px rgba(0,0,0,1);
  padding:10px 20px;
  margin:20px;
}

.one_article_title{
 
}

.one_article_text{
 
}

.one_article_comment{
  
}

/**/



/*pagination*/
.main_pagination{
  display: flex;
  align-self: center;
  margin:30px;
}

.main_pagination a{
  text-decoration: none;
}


.pag_pages{
  display: inline-block;
  padding:12px;
  font-size: 18px;
  font-family: serif;
}

.main_pagination a:hover{
  color:white;
  background-color: black;
}

.current_page{
  background-color: grey;
  color:white;
}

.no_current_pages{

}

.left_pag{
  display: inline-block;
 padding:12px;
  font-size: 18px;
  font-family: serif;
}

.right_pag{
    display: inline-block;
  padding:12px;
  font-size: 18px;
  font-family: serif;
}
/**/


/*test pdf*/
.div_pdf{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:50px;
  background-color: #313B47;
}

.react_test_2_inline{
  display: flex;
   justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cv_settings{
  background-color: #d5eb8f;
  display: flex;
  width: 70%;
  padding: 30px 10px;
}
.cv_settings a{
  text-decoration: none;
  color:green;
  font-size: 19px;
}

.cv_settings a:hover{
  color:#161c02;
}

.pdf_header{
  background-color: #e6a25a;
  display: flex;
  width: 70%;
  padding: 30px 10px;
}

.user_informations{
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.user_informations input{
  padding:5px 10px;
  margin:10px;
  border: none;
  box-shadow: none;
  border-width: 0;
  background-color: inherit;
  color:white;
  font-size: 1em;
}
input:focus{
    outline: none;
}

.user_information input:focus{
  outline: none;
  background-color: red;
}

.user_avatar{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: relative;
}

.pfd_avatar_image{
  width: 200px;
  max-width: 100%;
  height: auto;
 border-radius: 50%;
}

.user_avatar img:hover{
   box-shadow: 0 0 2px 1px grey;
  cursor: pointer;

}

#image_avatar{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.user_avatar_settings{
  position: absolute;
  top:-30px;
  background-color: #313B47;
  color:white;
  border-radius: 20px;
  padding: 4px 9px;
}

/*.user_avatar_settings label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
.pdf_header label:hover {
    color:#6fd966;
    cursor: pointer;
}

.delete_avatar{
  margin-left: 10px;
}


.user_avatar_settings .delete_avatar:hover {
    color:red;
    cursor: pointer;
}

.fa-user-circle{
  display: inline-block;
  max-width: 100%;

     color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 6.5em;
}

.fa-user-circle:hover{
  text-shadow: 4px 4px 4px grey;
  cursor: pointer;
}

.pdf_avatar_submit{
  background-color: green;
  color:white;
  padding:5px;
  border:0;
  outline:0;
  border-radius:10px;
  margin:10px;
}
.pdf_avatar_submit:hover{
  cursor: pointer;
  color:black;
}

.upload_pdf{
  border:0;
  outline: none;
  background-color: #68bd3e;
  color:white;
  padding:5px 10px;
  border-radius: 20px;
  font-size: 18px;
}

.upload_pdf:hover{
  cursor: pointer;
  background-color: #38b54d;
}
/**/


/**/
.mpdf_div{

}
.mpdf_left{
  float: left; width: 50%; margin-bottom: 0pt;
}
.mpdf_right{
  float: right; width: 50%; margin-bottom: 0pt; 
}

.mpdf_user_name{
  font-size: 20px;
}


.mpdf_img{
   float: left;
   width: 230px;
   max-width: 100%;
   height: auto;
   border-radius: 50%;
   padding:10px;

}

.mpdf_user_name{
font-size: 25px;
}

.mpdf_user_profession{
  font-size: 17px;
}
.mpdf_user_more_info{
  font-size: 16px;
}
/**/



/*my version of ckeditor*/

#my_editor{
  display: flex;
  flex-direction: column;
}

.editor_header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ea365;
}


.editor_body{
  padding:10px;
  margin:10px;
  background-color: #b6ccb9;
}

.editor_textarea_blocks{
  width: 100%;
  height: 30px;
}


.editor_header button{
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin:5px;
}

#editor_image{
  display: none;
}
.editor_header label{
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin:5px;
}


.editor_body button{
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin:5px;
}
/**/




/*for test*/

.items-list{
  background-color: red;
  color:grey;
}
/**/

